@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.stat-card {

  .main-content {

    .main-data-container {
      display: flex;
      align-items: center;
      color: $color02;
      padding: calcRem(20) 0;
      margin-top: auto;
      min-height: calcRem(90);
      box-sizing: border-box;

      .current-data {
        @include fz(32);
        height: 1;
      }

      .previous-comparison {
        font-weight: normal;
        margin-left: calcRem(15);
        padding-left: calcRem(15);
        border-left: calcRem(1) solid $color02;

        .comparison-value {
          @include paragraph1;
          line-height: 1 !important;
          margin-bottom: calcRem(3);
          display: block;
        }

        .comparison-text {
          @include paragraph2;
          line-height: 1 !important;
          margin-bottom: 0;
          display: block;
        }
      }
    }

    .history-toggle {
      @include useGrvSecondaryYellowButtonStyle;
      border: none;
      box-shadow: none;
      cursor: pointer;
      display: inline-block;
      outline: none;
      text-align: center;
      transition-duration: 100ms;
      width: 120px;
      white-space: nowrap;
    }

    .history-toggle-faux {
      height: calcRem(19);
    }
  }

  .history-content {
    flex-shrink: 1;
    flex-grow: 1;
  }
}
