@mixin useFont1() {
    font-family: $font1;
}

@mixin useFont2() {
    font-family: $font2;
    font-weight: 300;
}

@mixin heading1() {
    @include fz(28);
    @include useFont2;
    font-weight: 100;
    line-height: 34px !important;
    color: $color02;
    margin-bottom: 15px;
    text-transform: uppercase;
}

@mixin heading2() {
    @include fz(24);
    @include useFont1;
    font-weight: 700;
    line-height: 32px !important;
    color: $color02;
    margin-bottom: 10px;
}

@mixin heading3() {
    @include fz(17);
    @include useFont1;
    font-weight: 700;
    line-height: 24px !important;
    color: $color02;
    margin-bottom: 10px;
}

@mixin paragraph1() {
    @include fz(15);
    @include useFont1;
    font-weight: 600;
    line-height: 21px !important;
    color: $textColor01;
    margin-bottom: 10px;
}

@mixin paragraph2() {
    @include fz(15);
    @include useFont1;
    font-weight: 300;
    line-height: 21px !important;
    color: $textColor01;
    margin-bottom: 10px;
}

@mixin captain() {
    @include fz(13);
    @include useFont1;
    font-weight: 300;
    line-height: 18px !important;
    color: $textColor02;
    margin-bottom: 7px;
}

@mixin textLabel() {
    @include fz(15);
    @include useFont1;
    font-weight: 300;
    line-height: 21px !important;
    color: $textColor02;
    margin-bottom: 7px;
}