@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/mixins';

.header-content-maus {

  &__wrapper {

  }

  .main-content {
    padding-top: calcRem(60);
    text-align: center;
  }

  .users-count {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .number {
      @include heading1;
      color: $primary-color;
      display: block;
      margin: 0 calcRem(12) 0 0;
    }

    .text {
      @include heading2;
      display: block;
      margin-bottom: 0;
    }
  }

  .comparison-box {
    font-size: $base-font-size;

    &__icon {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: calcRem(10);
    }

    &__text {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: calcRem(10);
      font-weight: regular;
    }

    &__upper {
      align-items: center;
      display: flex;
      justify-content: center;
      @include paragraph2;
      margin-bottom: 0;
    }

    &__lower {
      margin-top: 30px;
      display: block;
    }
  }

  .mau-history-link, .mau-history-link:not(.btn) {
    @include useGrvPrimaryYellowButtonStyle;
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .graph-container {
    :global(.recharts-responsive-container) {
      .no-data-label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        @include paragraph2;
        margin-bottom: 0;
        font-style: italic;
        opacity: 0.6;
      }

      :global(.recharts-wrapper) {
        :global(.recharts-surface) {
          :global(.recharts-area) {
            :global(path.recharts-curve) {
              fill: #E1E1E1;
              fill-opacity: 1;
            }
          }

          :global(.recharts-active-dot) {
            :global(.recharts-dot) {
              fill: #E1E1E1;
              stroke: #E1E1E1;
            }
          }
        }

        :global(.recharts-tooltip-wrapper) {
          &:global(.recharts-tooltip-wrapper-right) {
            .bar-tooltip {
              @include usePopoverRight;
              left: calcRem(7);
            }
          }

          &:global(.recharts-tooltip-wrapper-left) {
            .bar-tooltip {
              @include usePopoverLeft;
              right: calcRem(7);
            }
          }

          .bar-tooltip {
            text-align: center;

            .tooltip-value {
              @include paragraph1;
            }

            >p {
              @include paragraph2;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
