@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';

.header-content-maus {

  &__wrapper {

  }

  .main-content {
    margin-bottom: calcRem(30);
    padding-top: calcRem(50);
    text-align: center;
  }

  .users-count {
    align-items: center;
    display: flex;
    justify-content: center;

    .number {
      @include useFont2;
      @include fz(28);
      color: $primary-color;
      display: block;
      font-weight: 900;
      line-height: 120%;
      margin-right: 16px;
    }

    .text {
      @include fz(24);
      display: block;
      font-weight: 900;
      line-height: 120%;
    }
  }

  .comparison-box {
    font-size: $base-font-size;

    &__icon {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: calcRem(10);
    }

    &__text {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: calcRem(10);
      font-weight: regular;
    }

    &__upper {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 16px 0 30px;
    }

    &__lower {
      display: block;
    }
  }

  .mau-history-link, .mau-history-link:not(.btn) {
    @include useYellowButton;
    @include fz(15);
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .bar-tooltip {
    position: relative;
    left: calcRem(10);
    background-color: $color01;
    color: $base-text-color;
    width: calcRem(100);
    border-radius: calcRem(2);
    padding: calcRem(10);
    text-align: center;

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-right-color: $base-text-color;
      border-width: calcRem(10);
      border: solid transparent;
      content: " ";
      height: 0;
      margin-top: calcRem(-10);
      pointer-events: none;
      position: absolute;
      right: 100%;
      top: 50%;
      width: 0;
    }

    .tooltip-value {
      @include fz(15);
      font-weight: bold;
    }

    p {
      margin: 0;
      font-size: calcRem(10);
    }
  }

  .graph-container {
    margin-left: calcRem(-20);
    margin-right: calcRem(-20);
  }
}

.no-data-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-style: italic;
  opacity: 0.6;
  font-size: 1.4rem;
}
