@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.course-learners-list {
  margin: calcRem(40) 0 0;
  grid-column-end: span 4;

  @media (max-width: $tablet-breakpoint) {
    grid-column-end: span 2;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: calcRem(15);

    .header-title {
      @include heading2;
      margin-bottom: 0;
    }
  }

  .learners-table-container {
    display: block;
    padding: 0;
    border: 0;
    border-radius: 0;

    .learners-table {
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: left;
      @include usePrimaryTableStyle;

      tr {
        td {
          .completed-icon {
            fill: $grvColor05;
          }

          &.name,
          &.course-progress {
            @include paragraph1;
            margin-bottom: 0;
          }

          &.name {
            a {
              color: $textColor01;
              text-decoration: none;

              &:hover {
                color: $grvColor06;
              }
            }
          }
        }
      }
    }
  }

  .load-more-wrapper {
    margin-top: calcRem(20);
    text-align: center;

    .load-more-button {
      @include useBlueLink;
      @include fz(15);

      .btn-content {
        svg {
          height: calcRem(8);
        }
      }
    }
  }
}