@import '~base/sass/base/variables';
@import '~base/sass/base/functions';

.header-nav {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  width: 100%;

  .ac-course-button {
    margin-left: auto;
  }
}

a.header-nav__link, a.header-nav__link:not(.btn) {
  @include fz(15);
  margin-right: 24px;
  color: $textColor01;
  text-decoration: none;
  position: relative;

  &:after {
    position: absolute;
    bottom: calcRem(-10);
    height: calcRem(2);
    width: 0;
    left: 0;
    // background-color: pick-visible-color($primary-color, #fff, $base-text-color);
    content: '';
    background-color: $color03;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    // color: pick-visible-color($primary-color, #fff, $base-text-color);
    color: $color03;

    &:after {
      width: 100%;
    }
  }

  &:focus {
    // color: pick-visible-color($primary-color, #fff, $base-text-color);
    color: $color03;
  }

  &.active {
    color: $color03;
    font-weight: 900;
    opacity: 0.6;
  }
}
