@import '~base/sass/base/variables';
@import '~base/sass/base/functions';

.header-nav {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  width: 100%;

  .ac-course-button {
    margin-left: auto;
  }
}

a.header-nav__link, a.header-nav__link:not(.btn) {
  text-decoration: none;
  position: relative;
  @include paragraph2;
  margin: 0 24px 0 0;

  &:after {
    position: absolute;
    bottom: calcRem(-25);
    height: calcRem(1);
    width: 0;
    left: 0;
    // background-color: pick-visible-color($primary-color, #fff, $base-text-color);
    content: '';
    background-color: $color03;
    transition: all 0.2s ease-in-out;
  }

  &:hover,
  &:global(.active) {
    // color: pick-visible-color($primary-color, #fff, $base-text-color);
    color: $color03;

    &:after {
      width: 100%;
    }
  }

  &:focus {
    // color: pick-visible-color($primary-color, #fff, $base-text-color);
    color: $color03;
  }
}
