@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';


.header-area {
  background-color: $grvColor01;
  color: $color01;
  position: relative;
  padding-top: calcRem(20);
}

.header-top {
  display: flex;
  align-items: center;
}

.header-logo-container {

  img {
    height: calcRem(60);
  }
}
