@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';


.paginator {
  padding-top: calcRem(15);
  padding-bottom: calcRem(15);
  display: flex;
  align-items: center;
  width: 100%;

  .dropdown-controls-container {
    display: flex;
    align-items: center;
    margin-left: auto;

    .paginator-dropdown-label {
      @include fz(15);
      flex-shrink: 0;
      flex-grow: 0;
      display: inline-block;
      margin-right: calcRem(10);
      color: #666;
    }
  }

  .dropdown-inner-container {
    width: calcRem(100);
  }

  .number-controls-container {
    display: flex;
    align-items: center;
  }

  .text-item-dummy,
  .text-item {
    margin-right: calcRem(5);
  }

  .ellipsis-item {
    display: block;
    padding: calcRem(10);
    margin-right: calcRem(5);
  }

  .text-item,
  .text-item-dummy,
  .number-item,
  .number-item-active {
    @include fz(15);
    border-radius: $globalRadius*2;
    border: 1px solid transparent;
    display: block;
    height: 32px;
    line-height: 30px;
    min-width: 32px;
    outline: none;
    padding: 0 6px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  .text-item,
  .text-item-dummy {
    color: $textColor01;
    background-color: $grey08;

    &:hover {
      background-color: $color03;
      color: $color01;
    }
  }

  .number-item {
    background-color: $color01;
    color: $textColor01;
    margin-right: calcRem(5);

    &:hover {
      background-color: $color01;
      color: $color03;
    }
  }

  .number-item-active {
    color: $primary-color;
    background-color: $color22;
    pointer-events: none;

    & + .number-item {
      margin-left: calcRem(5);
    }

    & + .text-item-dummy {
      margin-left: calcRem(5);
    }
  }
}
