@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';

.dashboard-content {
  padding-top: calcRem(30);
  padding-bottom: calcRem(30);
}

.functionality-callout {
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: calcRem(30);

  h3 {
    @include paragraph1;
    text-align: center;
    margin: 0 auto;
  }

  .functionality-callout-cta {
    @include useGrvPrimaryButtonStyleLarge;
    display: inline-block;
    margin: calcRem(20) auto;
  }
}
