@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.mau-details-content {
  padding-top: calcRem(30);
  padding-bottom: calcRem(30);

  .mau-history-list {
    grid-column-end: span 4;
  
    .header {
      display: flex;
      margin-bottom: calcRem(20);

      .header-title {
        @include heading2;
        margin-bottom: 0;
      }
    }
  
    .mau-table-container {
      display: block;
      border: 0;
      border-radius: 0;
      padding: 0;
  
      .mau-table {
        @include usePrimaryTableStyle;
        
        tr {
          text-align: left;

          td {
            padding-top: calcRem(20);
            padding-bottom: calcRem(20);
            @include paragraph1;

            &.mau-count,
            &.positive {
              color: $grvColor05;
            }
    
            &.negative {
              color: $color21;
            }
          }

          >* {
            &:not(:first-child) {
              text-align: right;
            }
          }
        }
      }
    }
  }
}
