@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.mau-details-content {
  padding-top: calcRem(30);
  padding-bottom: calcRem(30);

  .mau-history-list {
    grid-column-end: span 4;
  
    .header {
      display: flex;
      margin-bottom: calcRem(20);

      .header-title {
        @include heading2;
        margin-bottom: 0;
      }
    }
  
    .mau-table-container {
      display: block;
      border: 0;
      border-radius: 0;
      padding: 0;
  
      .mau-table {
        width: 100%;
        padding: 0;
        margin: 0;

        tr {
          text-align: left;

          th {
            padding: calcRem(10) 0;
            border-bottom: 1px solid $grey03;
            @include captain;
            margin-bottom: 0;
            text-transform: uppercase;
          }

          td {
            padding: calcRem(20) 0;
            border-bottom: 1px dashed $grey03;
            @include paragraph1;
            margin-bottom: 0;
    
            &.mau-count,
            &.positive {
              color: $grvColor05;
            }
    
            &.negative {
              color: $color21;
            }
          }

          >* {
            &:not(:first-child) {
              text-align: right;
              padding-left: calcRem(10);
            }

            &:not(:last-child) {
              padding-right: calcRem(10);
            }
          }
        }
      }
    }
  }
}
