@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/mixins';
@import '~base/sass/base/stat-cards';

.users-content {
  padding-top: calcRem(20);

  &.container-max {
    padding-left: calcRem(50);
    padding-right: calcRem(50);
  }

  .refining-container {
    &__filters {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  
      .list-search .inner-container {
        width: calcRem(400);
      }
  
      .multiselect-container {
        // :global(#multiselectContainerReact) {
        //   >:global(div:first-child) {
        //     display: flex;
        //     flex-direction: column;
        //     align-items: flex-end;
        //     border: none;
        //     padding: 0;
        //     border-radius: 0;
        //     @include fz(15);
  
        //     :global(.searchBox) {
        //       margin: 0;
        //       order: -1;
        //       width: calcRem(400);
        //     }
  
        //     :global(.chip) {
        //       margin: calcRem(13) 0 0;
        //       padding: calcRem(3) calcRem(3) calcRem(3) calcRem(16);
        //       background: $grey04;
        //       color: $textColor02;
  
        //       &:first-of-type {
        //         margin-top: calcRem(15);
        //       }
  
        //       :global(.icon_cancel) {
        //         color: $color09;
        //         margin-left: calcRem(15);
  
        //         &::after {
        //           margin: 0;
        //         }
        //       }

        //       &:hover {
        //         background: #FFF7F7;
        //         color: $color21;
    
        //         :global(.icon_cancel) {
        //           color: $color21;
        //         }
        //       }
        //     }
        //   }
  
        //   :global(.optionListContainer) {
        //     top: calcRem(50);
        //     right: 0;
        //     width: auto;
  
        //     :global(.optionContainer) {
        //       :global(.option) {
        //         @include fz(15);
        //         color: $textColor01;
  
        //         &:hover,
        //         &:global(.highlight) {
        //           background-color: #FBFBFB;
        //           color: $textColor01;
        //         }
        //       }
        //     }
        //   }
        // }

        .custom-label {

          .number,
          .id {
            @include fz(11);
            @include useFont1;
            line-height: 1.2;
            font-weight: 600;
          }
    
          .number {
            color: $color03;
            margin-bottom: calcRem(5);
          }
    
          .id {
            color: $textColor02;
            margin-bottom: 0;
          }
    
          .name {
            @include paragraph2;
            margin-bottom: calcRem(5);
          }
        }

        .chips {
          margin-top: calcRem(15);

          .chip {
            &:not(:last-child) {
              margin-bottom: calcRem(13);
            }
            
            display: flex;
            justify-content: flex-end;

            .chip-container {
              display: flex;
              align-items: center;
              padding: calcRem(5) calcRem(5) calcRem(3) calcRem(16);
              background-color: #F7F7F7;
              border-radius: 12px;

              .course-label {
                @include captain;
                margin-bottom: 0;
                font-weight: 600;
                margin-right: calcRem(15);
                white-space: nowrap;
              }

              .dismiss-btn {
                background-color: transparent;
                border: 0;
                padding: 0;
                outline: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  .users-overview-list-wrapper {
    margin-top: calcRem(15);
    position: relative;
    width:100%;
    overflow: auto;

    .users-overview-list {
      @include usePrimaryTableStyle;
      text-align: left;
    
      .user-list-item {
        .user-fullname {
          position: -webkit-sticky;
          position: sticky;
          left: 0;
          z-index: 5;
        }
  
        >th {
          white-space: nowrap;

          >div {
            display: flex;
            align-items: center;

            .course-id {
              color: #89A4B4;
              margin-left: calcRem(6);
              cursor: pointer;
  
              svg {
                width: calcRem(14);
                height: auto;
              }

              &:hover {
                color: $color03;
              }
            }
          }

          :global(.__react_component_tooltip) {
            border-radius: calcRem(8);
            opacity: 1;
            box-shadow: 0px 0px calcRem(16) rgba(137, 137, 137, 0.161);
          }
        }
  
        >td {
          &.data-group,
          &.no-data {
            text-align: center;
  
            .data-label {
              display: block;
              @include captain;
              margin-bottom: calcRem(10);
            }
          }
        }
        .user-info-value {
          display: block;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      
        .user-fullname-link {
          &:hover {
            color: $grvColor06;
          }
          @include paragraph1;
          margin-bottom: 0;
          text-decoration: none;
        }
      }
    }
  }

  .view-controls-container {
    padding-top: calcRem(30);
    margin-top: calcRem(30);
    border-top: 1px solid #D6D6D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    button.export-the-csv-button {
      @include useGrvPrimaryButtonStyleLarge;
    }
  
    >div {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      :global([class*="paginator"]) {
        padding: 0;
  
        :global([class*="number-controls-container"]) {
          display: none;
        }
      }
  
      .toggle-wide-view-button {
        display: flex;
        align-items: center;
        margin-right: calcRem(27);
  
        >.toggle-label {
          @include paragraph2;
          margin: 0 calcRem(10) 0 0;
          white-space: nowrap;
        }
  
        >input[type="checkbox"] {
            @include usePrimaryToggle;
        }
      }
    }
  }

  .no-data-message {
    text-align: center;
    font-size: calcRem(17);
    color: $textColor02;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
    img {
      width: calcRem(270);
      margin-bottom: calcRem(35);
    }
  
    &::after {
      content: "";
      width: calcRem(270);
    }
  }

  .page-footer {
    padding-top: calcRem(20);

    :global([class*="paginator"]) {
      padding: 0;
      justify-content: center;

      :global([class*="dropdown-controls-container"]) {
        display: none;
      }
    }
  }
}

.csv-export-content {
  text-align: center;

  >h2 {
    @include heading2;
  }

  >p {
    @include paragraph2;
  }

  .progress-bar {
    margin: calcRem(30) auto calcRem(15);
    width: calcRem(400);
    height: calcRem(18);
    padding: calcRem(4);
    border-radius: $globalRadius;
    border: calcRem(1) solid #efefef;

    >div {
      height: 100%;
      width: 100%;
      overflow: hidden;
      border-radius: $globalRadius;

      .progress-bar-inner {
        height: 100%;
        border-radius: $globalRadius;
        background-color: $color03;
      }
    }
  }

  .percentage {
    @include captain;
    margin-bottom: 0;
  }

  .close-csv-button {
    @include useGrvPrimaryButtonStyleLarge;
  }
}