@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.user-content {
  padding: calcRem(40) 0 calcRem(70);

  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: 1fr;
  }

  .user-information {
    grid-column-end: span 1;
    width: 340px;

    @media (max-width: $tablet-breakpoint) {
      padding: 0 calcRem(30);
    }

    .name {
      font-weight: bold;
      font-size: calcRem(24);
      margin-bottom: calcRem(30);
      line-height: 100%;
    }

    .user-details {
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        border-top: calcRem(1) dashed lighten($base-text-color, 75%);
        list-style-type: none;
        padding: calcRem(15) 0;
        display: flex;
        align-items: baseline;
        width: 100%;

        .label,
        .value {
          @include fz(15);
        }

        .label {
          align-items: center;
          color: $textColor01;
          display: flex;
          flex: 0 0 auto;
          padding-right: calcRem(20);
          width: 180px;

          & > img {
            margin-right: 10px;
          }
        }

        .value {
          flex-grow: 1;
          flex-shrink: 1;
          font-weight: 600;
          text-align: right;
          width: 100%;
          word-break: break-word;

          a {
            color: $textColor01;
          }
        }
      }
    }
  }
}
