@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.course-quick-links {
  text-align: center;
  padding-bottom: calcRem(15);

  &__link, &__link:not(.btn), &__link:visited:not(.btn) {
    @include useGrvPrimaryYellowButtonStyle;
    transform: translateY(-50%);
  }
}
