@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/mixins';
@import '~base/sass/base/stat-cards';

.users-content {
  padding-top: calcRem(20);

  .page-header {
    display: flex;
    align-items: center;
    padding-bottom: calcRem(20);

    :global([class*="paginator"]) {
      padding: 0;

      :global([class*="number-controls-container"]) {
        display: none;
      }
    }
  }

  .page-footer {
    padding-top: calcRem(20);

    :global([class*="paginator"]) {
      padding: 0;
      justify-content: center;

      :global([class*="dropdown-controls-container"]) {
        display: none;
      }
    }
  }

  .users-list {
    @include usePrimaryTableStyle;
    text-align: left;
  
    tr {
      th {
        .sorting-header-button {
          padding: 0;
          margin: 0;
          background: none;
          border: none;
          outline: none;
      
          span {
            @include captain;
            margin-bottom: 0;
            text-transform: uppercase;
      
            & + svg {
              @include fz(13);
              color: $textColor02;
              margin-left: calcRem(5);
            }
          }
      
          &:hover, &:focus {
            cursor: pointer;
          }
        }
      
        &.is-active {
          text-align: center;
        }
      }
    
      td {
        .user-fullname-link,
        &.number-of-courses {
          @include paragraph1;
          margin-bottom: 0;
          text-decoration: none;
        }
      
        &.is-active {
          text-align: center;

          svg {
            path {
              fill: $color03;
            }
          }
        }
      
        &.action-container {
          text-align: right;
      
          .user-action {
            @include useGrvSecondaryYellowButtonStyle;
          }
        }
      }
    }
  }
}