@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.user-courses-list {
  grid-column: span 3;
  padding-left: calcRem(40);

  @media (max-width: $tablet-breakpoint) {
    grid-column: span 1;
    padding-right: calcRem(30);
  }
}

.course-item {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: calcRem(20);
  padding-bottom: calcRem(28);
  position: relative;
  width: 100%;

  @media (max-width: $tablet-breakpoint) {
    display: block;
    width: auto;
  }

  .course-info {
    @include fz(17);
    border-bottom: none;
    flex: 0 0 auto;
    margin-right: 0;
    max-width: 100%;
    padding-right: 0;
    width: 100%;

    @media (max-width: $tablet-breakpoint) {
      margin-bottom: calcRem(20);
      padding-bottom: calcRem(20);
    }

    .course-code {
      @include fz(14);
      display: block;
      color: $color02;
      margin-bottom: calcRem(5);
    }

    .course-name {
      @include fz(17);
      color: $color02;
      display: block;
      font-weight: bold;
      line-height: 130%;
      margin-bottom: 15px;
    }
  }

  .user-stats {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
    width: 100%;

    .stat {
      flex-grow: 0;
      flex-shrink: 0;
      width: 25%;
      list-style-type: none;
      text-align: left;

      .stat-label,
      .stat-value {
        @include fz(15);
      }

      .stat-label {
        display: block;
        width: 100%;
        margin-bottom: calcRem(10);
        color: $textColor01;
      }

      .stat-value {
        display: block;
        font-weight: 600;

        .completed-icon {
          color: $positive-color;
        }
      }
    }
  }

  .progress-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: calcRem(6);
    background-color: #eee;

    .bar {
      border-radius: $globalRadius;
      background-color: $primary-color;
      display: block;
      height: calcRem(6);

      &.finished {
        background-color: $positive-color;
      }
    }
  }
}
