@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';

.header-content-static {
  margin-bottom: calcRem(60);
  position: relative;
  padding-bottom: calcRem(40);

  .title {
    @include useFont2;
    @include fz(28);
    color: pick-visible-color($grey08, #fff, $base-text-color);
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 120%;
    margin: calcRem(20) 0 calcRem(10);
    text-align: center;
    text-transform: uppercase;
  }

  .subtitle {
    @include fz(15);
    font-weight: normal;
    color: pick-visible-color($grey08, #fff, $base-text-color);
    line-height: 150%;
    text-align: center;

    span {
      @include fz(15);
      background-color: $color24;
      border-color: $color24;
      border-radius: $globalRadius;
      color: $color01;
      display: inline-block;
      height: 24px;
      line-height: 24px;
      margin-left: 10px;
      min-width: 40px;
    }
  }
}
