@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.courses-list {
  margin: calcRem(40) 0 0;
  grid-column-end: span 4;

  @media (max-width: $tablet-breakpoint) {
    grid-column-end: span 2;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: calcRem(15);

    .header-title {
      @include heading2;
      margin-bottom: 0;
    }
  
    .dropdown-container {
      display: flex;
      align-items: center;
      margin-left: auto;
  
      &>span {
        @include textLabel;
        margin: 0 calcRem(10) 0 0;
      }
  
      &>div {
        width: calcRem(160);
      }
    }
  }
}
