@import '~base/sass/base/variables';
@import '~base/sass/base/functions';

.header-content-user {
  margin-bottom: calcRem(60);
  position: relative;
  height: calcRem(80);

  .user-image {
    width: calcRem(128);
    height: calcRem(128);
    display: block;
    border-radius: 40px;
    overflow: hidden;
    position: absolute;
    top: calcRem(10);
    left: 50%;
    margin-left: calcRem(-60);
    border: calcRem(8) solid rgba($base-text-color, 0.1);
    background-color: rgba($base-text-color, 0.1);
  }
}
