@import '~base/sass/base/variables';
@import '~base/sass/base/functions';

.header-content-user {
  margin-bottom: calcRem(74);
  position: relative;
  // height: calcRem(80);

  .user-image {
    width: calcRem(128);
    height: calcRem(128);
    display: block;
    border-radius: 40px;
    border: calcRem(10) solid rgba($color02, 0.15);
    background-color: rgba($color02, 0.1);
    margin: auto;
    transform: translateY(50%);
    object-fit: cover;
  }
}
